/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
	width:1250px;
	margin: 50px;
}

.block1{
	width: 611px;
	height: 64px;
	
}

.block2{
	width: 274px;
	height: 14px;
	
}

.block4{
	width: 1145px;
	height: 86px;
	margin-top: 31px;
	

}

.block5{
	
	margin: 35px 42px 35px 0;
	display: inline;
}

.block6{
	
	margin: 35px 42px 35px 0;
	min-width: 503px;
	display: inline-block;
	margin-top: 35px;
	
}

.block3{
	display: block;
	margin-bottom: 35px;
}

.block7{
	display: inline-block;
	width: 503px;
}

.block8{
	display: inline-block;
}

.block9{
	
	width: 343px;
	height: 111px;
	display: block;
	padding: 47px 0;
	word-spacing: 2px;
	text-align: center;
}